@media (min-width: 640px) and (max-width: 999px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        margin: auto;
        max-width: 640px;
    }
    header{
        height: 34px;
    }
    .logo{
        width: 46.86px;
        height: 29.03px;
        margin-left: 20px;
        border: none;
    }
    .logo h1{
        font-size: 12.2899px;
    }
    .logo img{
        width: 7px;
        margin-left: 0.5%;
    }
    .mynav{
        visibility: hidden;
    }
    .section1{
        height: 373px;
        background-image: url(../../assets/images/Giant-Panda-tablet.png);
    }
    .circle-h2-btn{
        width: 320px;
        height: 320px;
    }
    .circle{
        width: 237.6px;
        height: 237.6px;
        margin-top: 3.4%;
        margin-left: 4%;
    }
    .myh2{
        width: 255.64px;
        height: 204.38px;
        margin-top: 15.5%;
        margin-left: 14.3%;
        font-size: 54.2894px;
    }
    .btn_1{
        margin-top: -0.7%;
        margin-left: -93%;
    }
    .section2{
        margin-top: 2%;
        margin-left: 1.2%;
        overflow: hidden;
    }
    .bamboocap{
        visibility: hidden;
    }
    .backstage{
        width: 495px;
        height: 403px;
    }
    .backstage h3{
        padding-top: 10%;
    }
    .backstage p{
        margin-left: -0.8%;
        margin-top: -0.2;
    }
    .backstage-p{
        margin-top: 6%;
    }
    .flower1{
        width: 220px;
        height: 476px;
        position: relative;
        left: 3.2%;
        top: -5.8%;
    }
    .section3{
        width: 100%;
        height: 900px;
        margin-top: -12.5%;
        margin-left: 0%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .cards{
        width: 94%;
        height: 750px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
    }
    .arrow1{
        margin-right: 14%;
        position: absolute;
    }
    .arrow2{
        margin-left: 14%;
        position: absolute;
    }
    .card{
        width: 285px;
        height: 332px;
        margin-bottom: 15%;
    }
    .card:last-child{
        visibility: hidden;
    }
    .card:nth-last-child(2){
        visibility: hidden;
    }
    .card_img{
        width: 283px;
        height: 285px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .text_icon h3{
        font-weight: 500;
        font-size: 13px;
        margin: -2px 0 0 10px;
    }
    .text_icon p{
        font-size: 12px;
        margin-left: 10px;
    }
    .banana_meet{
        width: 45px;
        padding-right: 8px;
    }
    .section4{
        width: 100%;
        height: 500px;
        margin-top: -55.5%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        overflow: hidden;
    }
    .flower2{
        width: 130px;
    }
    .btn_2{
        margin-left: 5.6%;
        margin-bottom: 16%;
    }
    .flower3{
        width: 165px;
    }
    .peek{
        height: 781px;
    }
    .feed{
        width: 1160px;
        height: 741px;
    }
    .feed-h2{
        top: 14px;
        font-size: 42px;
    }
    .covid h3{
        top: 86px;
        left: 20px;
        font-size: 22px;
    }
    .covid h4{
        width: 600px;
        height: 42px;
        top: 158px;
        left: 0px;
        font-weight: 500;
    }
    .covid p{
        width: 600px;
        top: 210px;
    }
    .peek-h2{
        top: 282px;
    }
    .pay{
        position: absolute;
        width: 200px;
        top: 348px;
        left: 3%;
        display: flex;
        justify-content: space-between;
    }
    .pay1{
        width: 108px;
        height: 244px;
        border-radius: 5px;
    }
    .pay1 p{
        width: 170px;
        margin-top: 24%;
    }
    .arrow{
        visibility: hidden;
    }
    .btn_3{
        top: 632px;
    }
    .section5{
        width: 100%;
        height: 510px;
    }
    .feedback{
        width: 100%;
        height: 575px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .feedback h3{
        top: 10.5%;
        left: 33.7%;
    }
    .users{
        width: 95%;
        height: 500px;
        top: 23.8%;
        left: 2.9%;
    }
    .user:last-child{
        visibility: hidden;
    }
    .user{
        overflow: hidden;
        width: 600px;
        height: 109px;
    }
    .username img{
        width: 37px;
        height: 37px;
        margin-top: 13px;
        margin-left: 12px;
    }
    .location{
        width: 180px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 5px;
    }
    .location h4{
        margin-top: 13px;
        margin-left: 4px;
    }
    .location p {
        margin-left: 2px;
    }
    .feedback-txt{
        width: 570px;
        margin-left: 16px;
        margin-top: 2.5%;
    }
    .line{
        visibility: hidden;
    }
    .btn_leave{
        width: 100%;
        height: 200px;
    }
    .btn_4{
        top: 11.5%;
        left: 31.2%;
        width: 240px;
    }
    .btn_4:hover{
        cursor: pointer;
        background: #E47209;
    }
    .leave{
        width: 130px;
        height: auto;
        position: absolute;
        top: 10%;
        left: 81%;
    }
    footer{
        width: 100%;
        height: 282px;
        background: #111115;
        position: relative;
        margin-top: -6.6%;
    }
    .foot_logo{
        width: 84px;
        height: 54px;
        left: 20px;
        top: 12px;
    }
    .btn_5{
        width: 298px;
        height: 54px;
        left: 20px;
        top: 98px;
    }
    .social{
        width: 120px;
        height: 180px;
        left: 598px;
        top: 14px;
    }
    .foot-nav{
        width: 300px;
        left: 20px;
        top: 238px;
    }
    .subscribe{
        display: none;
    }
    input{
        display: none;
    }
    .btn_6{
        display: none;
    }
    .designed{
        width: 240px;
        height: 21px;
        left: 392px;
        top: 212px;
    }
    .designed p{
        margin-top: 8px;
    }
}