@media (min-width: 1000px) and (max-width: 1599px){
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 1px solid red; */
    }
    body {
        margin: auto;
        max-width: 1000px;
    }
    .logo{
        margin-left: 30px;
    }
    .logo img{
        margin-left: 0.8%;
    }
    .mynav{
        width: 87.5%;
        display: flex;
        justify-content: space-between;
    }
    .lefthead{
        width: 49.3%;
        height: 60%;
        margin-left: 7.2%;
        display: flex;
    }
    .lefthead ul{
        width: 100%;
    }
    .righthead{
        margin-left: 10%;
    }
    .righthead ul{
        margin-left: 20%;
    }
    .back_panda{
        background-image: url(../../assets/images/panda_bg_small.png);
    }
    .section1{
        height: 1333px;
    }
    .zoo{
        width: 778px;
        height: 94px;
        left: 30px;
        top: 40px;
    }
    .sect1-p{
        width: 939px;
        height: 94px;
        left: 31px;
        top: 71px;
    }
    .section1 h3{
        width: 341px;
        height: 47px;
        left: 30px;
        top: 110px;
    }
    .peek{
        width: 940px;
        height: 918px;
        top: 150px;
        left: 30px;
    }
    .sect2-h2{
        padding-left: 24.6%;
        padding-top: 2.1%;
    }
    .sect2-p{
        padding-top: 1.2%;
        padding-left: 5%;
    }
    .sect2-span{
        padding-left: 27%;
        top: 18%;
    }
    .sect2-p2{
        top: 19.2%;
        left: -20.7%;
    }
    .x-icon{
        top: -11.5%;
        left: 38.9%;
    }
    .don-panda{
        margin-left: 45.2%;
        margin-top: -2%;
    }
    .sect2-span2{
        margin-left: -64.55%;
        top: 8%;
    }
    .money-bar{
        margin-top: 43px;
        margin-left: -11px;
    }
    .text-container {
        top: 10.2%;
        left: 35.8%;
      }
    .text-container input{
        padding-left: 2.5%;
        left: 0%;
        top: 0;
      }
      .text-container input::placeholder{
        color: #929699;
      }
    .dollar{
        width: 10px;
        margin-right: 4%;
    }
    .two-radio{
        display: flex;
        width: 253px;
        /* border: 1px solid red; */
        height: 50px;
        justify-content: space-between;
        margin: auto;
        padding: 15px 35px 0 20px;
        margin-bottom: 0;
      }

      .button-prop-subscription {
        position: relative;
        /* margin: 10px 0 0 120px; */
        margin: 10px 0 0 0;
        height: 16px;
        width: 16px;
        background-color: transparent;
        border: 1px solid #F9804B;
        border-radius: 50%;
      }

      .button-prop-subscription input {
        position: absolute;
        top: -20px;
        left: -30px;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        width: 80px;
        height: 88px;
      }

      .button-prop-subscription input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
        cursor: pointer;
        border-radius: 10px;
      }

      .button-prop-subscription input[type="radio"]:checked + #outer-circle-subscription {
        visibility: visible;
        color: #FE9013;
      }

      #outer-circle-subscription{
        font-family: "Roboto-400";
        color:#333B41;
        visibility: hidden;
        background: transparent;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: relative;
        bottom: 50%;
        right: 50%;
      }

      #inner-circle3-subscription{
        position: absolute;
        border-radius: 50%;
        height: 9px;
        width: 9px;
        top: 62%;
        left: 62%;
        margin: -3px 0px 0px -3px;
        background-color: #F9804B;
      }

      .two-radio-input{
        position: relative;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border-radius: 50%;
      }

    .two-radio-input p{
        background-color: red;
        width: 16px;
        height: 16px;
        border-radius: 50%;
      }

      .radio-outer{
        display: flex;
      }

      .subscription-p{
        margin: 8px 0 0 12px;
      }

      .share{
        margin-top: 20px;
        left: 35%;
      }

    .line-container-inner{
        height: 27px;
        width: 600px;
        background-color: #404950;
      }
    .line{
        height: 2px;
        width: 780px;
        margin: 11px 0 0 15px;
        background-color:#72828E;
      }
      .line-container{
        margin: 19px 0 0 64px;
        position: relative;
        height: 27px;
        width: 809px;
        border: 1px solid #404950;
        background-color: #404950;
      }

    .button-prop-container {
        position: absolute;
        top: -3px;
        left: 0;
        margin-left: 10px;
        width: 790px;
        height: 100px;
        display: flex;
        justify-content: space-between;
      }

      .button-prop {
        position: relative;
        margin: 10px 0 0 0;
        height: 10px;
        width: 10px;
        background-color: yellow;
        border-radius: 50%;
      }
      .button-prop input {
        position: absolute;
        top: -20px;
        left: -30px;
        right: 0;
        bottom: 0;
        width: 80px;
        height: 88px;
      }

      .button-prop input[type="radio"] {
        opacity: 0.011;
        z-index: 100;
        cursor: pointer;
        border-radius: 10px;
        outline: 2px solid pink;
        border: solid red 1px;
      }

      .button-prop input[type="radio"]:checked + #outer-circle {
        visibility: visible;
        color: #FE9013;
      }
      .button-prop input[type="radio"]:hover + #outer-circle {
        visibility: visible;
        color: #FE9013;
      }

      .button-prop:hover {
        color: silver;
        cursor: pointer;
      }

    .circle-container{
        width: 200px;
        margin: 0  20px 200px 300px ;
        border: solid red 1px;
    }

      #outer-circle {
        font-family: "Roboto-400";
        color:#333B41;
        visibility: hidden;
        background: transparent;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        position: relative;
        bottom: 50%;
        right: 50%;
      }

      #inner-circle {
        position: absolute;
        background: transparent;
        border-radius: 50%;
        height: 36px;
        width: 36px;
        top: 50%;
        left: 50%;
        margin: -18px 0px 0px -18px;
        outline: 2px solid #F9804B;
      }

      #inner-circle2{
        position: absolute;
        background: transparent;
        border-radius: 50%;
        height: 20px;
        width: 20px;
        top: 50%;
        left: 50%;
        margin: -10px 0px 0px -10px;
        outline: 2px solid #F9804B;
      }

      #inner-circle3{
        position: absolute;
        background: transparent;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        top: 50%;
        left: 50%;
        margin: -5px 0px 0px -5px;
        background-color: yellow;
      }
      .btn_3{
        top: 0%;
        left: 35.2%;
      }

    .foot_logo{
        left: 30px;
        top: 41px;
    }
    .btn_5{
        left: 30px;
        top: 164px;
    }
    .social{
        left: 30px;
        top: 259px;
    }
    .foot-nav{
        width: 330px;
        left: 334px;
    }
    .subscribe{
        left: 570px;
        top: 44px;
    }
    input{
        left: 570px;
        top: 83px;
        width: 230px;
    }
    .btn_6{
        left: 810px;
        top: 84px;
    }
    .designed{
        left: 742px;
        top: 344px;
    }
    .designed p{
        margin-bottom: 12px;
    }
}